    /*PASTA SOBRE MIM*/
    * {
        box-sizing: border-box;
    }
    body{
         margin: 0%; 
         padding: 0%;
         letter-spacing: 1px; 
         background-color: rgb(67, 143, 179);
        }
    header{
             height:auto;
             background-color: rgb(45, 100, 126); 
            }
    nav{
         overflow: auto;
         background-color: rgb(29, 65, 82); 
        }
    ul,li{
         float: right;
         list-style: none;
         margin: 0;
         list-style-type: none;
         padding: 10px;
        }  
    li a {
         color:rgba(253, 253, 253, 0.986);
         display: inline;
         font-size: 100%;
         text-decoration: none;
        }        
    li a:hover{
                 background-color: rgba(175, 164, 13, 0.966);
                } 
    a:link  {
         color: #f7f4f4;
        }
     
    a:active {
             color: #0f0f96;
            }
    .grid-container {
  display: inline-grid;
}
.sobre{
    height: 40%;
    width: 150px;
    float: left;
    margin: 0%;
    padding: 20px;
    }
.fotopessoal{
    height: 100%;
    width: 100%;
}
.sobremim{
        height: 100%;
        width:100%;
        float: left;
        background-color:rgba(87, 83, 83, 0.808); 
        color: rgba(252, 244, 244, 0.808);
        padding-left: 15px;
        padding-top: 20px;
        }
.hsm{
border-style:inset;
border-color:  rgb(45, 100, 126);
}

.psm{
text-indent: 5px;
line-height: 1.8;
margin-top: 5px;
word-spacing: 3px;  
}
.cursos{ 
width: 40%;
float: left;
padding: 5%;
        }
.button1 {
    border-radius: 2px;
    background-color: rgb(103, 133, 163);
        }
.curr{
  width: 20%;
  height: 230px;
  float: left;
  padding: 5%;
}
em{
color:#0f1896
}

.baixar{
height: 143px;
width: 100px;
}
footer{
    height: 20px;
    text-align: center;

    }

