/*projetos*/
body{
      background-color:lightblue;
      margin: 0px;
     }

header{
       text-align: center;
       background-color:rgb(93, 148, 172);
       color:white;
}
main.flex-container {
                      margin: 10px;
                     flex-direction: row;
                     display: grid;  
                     grid-template-columns: 1fr 1fr 1fr;  
                     grid-template-rows: 160px 160px;  
}
th, td {
        border: 1px solid #ddd;
        }
table{
      font-family:'Courier New', Courier, monospace;
      box-shadow: 10px 10px 5px lightblue;
      width: 100px;
      height: 100px;
      background:rgb(118, 191, 240);
      border-collapse: collapse; 
      padding: 5px;
}

th{
  background-color: lightgray;
}

td:hover {background-color: rgb(122, 106, 35);
}
