body{
    background-color: rgb(9, 189, 180);
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
}
section.formulário{
                   background-color: rgb(39, 133, 101);
                   padding-left: 20px;
                   border-style: inset;
                   border-color: aqua;
                }

figure.formulario{
                  height: 100px;
                  width: 90px;
                  float:right;
                  border-style: inset;
                  border-color: aqua;
                }

img.formulário{
                height: 100%;
                }
                  
                input {
                    width: 80%;
                    border: 2px solid aqua;
                    border-radius: 4px;
                  }
                  input[type=submit]{
                  background-color: #3CBC8D;
                  color: white;
                }
                  